/test.txt
/Video/company_profile.mp4

img/data_image/kk/0001-1250.jpeg

img/data_image/kk/0001-1252.jpg
img/data_image/kk/0001-1253.jpeg
img/data_image/kk/0001-1254.jpg
img/data_image/kk/0001-1254.png
img/data_image/kk/0001-1256.png

img/data_image/ktp/0001-1250.jpeg

img/data_image/ktp/0001-1252.jpg
img/data_image/ktp/0001-1253.jpeg
img/data_image/ktp/0001-1254.jpg
img/data_image/ktp/0001-1254.png
img/data_image/ktp/0001-1256.png

img/data_image/Gambar/kk1.jpg
img/data_image/Gambar/kk2.jpeg
img/data_image/Gambar/kk3.jpeg
img/data_image/Gambar/kk4.jpg
img/data_image/Gambar/kk5.jpg
img/data_image/Gambar/kk6.jpg
img/data_image/Gambar/kk7.jpg
img/data_image/Gambar/kk8.jpg
img/data_image/Gambar/ktp1.jpeg
img/data_image/Gambar/ktp2.jpeg
img/data_image/Gambar/ktp3.jpg
img/data_image/Gambar/ktp4.jpeg
img/data_image/Gambar/ktp5.jpg
img/data_image/Gambar/ktp6.jpg
img/data_image/Gambar/ktp7.jpg
img/data_image/Gambar/ktp8.jpg